@import "reset.css";

body,
html {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  height: 100%;
}
#app {
  display: grid;
  height: 100%;
  padding: 5rem;
  place-items: center;
  background-color: #111111;
  color: #eeeeee;
}
.light {
  filter: invert(1) hue-rotate(10deg);
}
h1 {
  font-size: 4rem;
}
a,
a:hover {
  color: #28a55e;
  font-weight: 600;
}
a:hover {
  color: #eeeeee;
}

@media (max-width: 600px) {
  body {
    padding: 2.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}
